{
  env: { es6: true },
  parser: "babel-eslint",
  extends: [ "standard" ],
  globals: {
    $: false,
    jest: false,
    describe: false,
    pit: false,
    it: false,
    expect: false,
    before: false,
    after: false,
    beforeEach: false,
    afterEach: false,
    beforeAll: false,
    afterAll: false,
    jasmine: false,
    document: false
  },
  rules: {
    "no-throw-literal": 1,
    "strict": [2, "never"],
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "no-var": 1,
    "eol-last": 1,
    "no-undef": "error",
    "no-new-require": 1,
    "no-sync": 1,
    "no-mixed-requires": [1, false],
    "no-unsafe-finally": 0,
    "no-useless-computed-key": 0
  }
}
